@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* Gaya umum untuk seluruh halaman */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Gaya untuk header */
header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

/* Gaya untuk judul halaman */
h1 {
  color: #000000;
}

/* Gaya untuk navigasi */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Gaya untuk konten utama */
main {
  padding: 20px;
}

/* Gaya untuk judul konten */
h2 {
  color: #121221;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
}

/* Gaya untuk paragraf konten */
p {
  color: #666;
}

/* Gaya untuk footer */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.container-fluid {
  display: flex;
}
.container-fluid form {
  display: flex;
}
.container-fluid .dropdown {
  margin-left: 10px;
}

main {
  display: flex;
  gap: 36px;
}

main img {
  width: 854px;
  height: 400px;
  left: 35px;
  top: 95px;
}

.main-content {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  text-align: justify;
  line-height: 32px;
  margin-top: 56px;
}

main h4 {
  position: absolute;
  top: 300px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  left: 32px;
}

.time {
  position: absolute;
  top: 420px;
  color: #fff;
  left: 32px;
}

.webname {
  position: absolute;
  top: 420px;
  color: #fff;
  left: 128px;
}

section h1 {
  margin-left: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

.mainhead h2 {
  color: #121221;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
}

.trendnews1 {
  padding-left: 24px;
}
.trendnews2 {
  padding-left: 24px;
}

.trendnews1 h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
}

.trendnews2 h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
}

.times {
  display: flex;
  gap: 24px;
}

/* Styling untuk tombol menu */
.dropdown-btn {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: #ddd;
}

/* Styling untuk menu dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 85px;
}
.content h5 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-align: justify;
}

/* Our team */
.line1 {
  align-items: center;
  display: flex;
  gap: 10px;
  padding-bottom: 77px;
}
.line2 {
  align-items: center;
  display: flex;
  padding-bottom: 110px;
}
.content-items {
  display: flex;
}
.content-items img {
  padding-left: 48px;
}
.ident {
  padding-left: 8px;
}
.ident h4 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
